@charset "UTF-8";
/* CSS Document */

html, body{
    height: 100%;
    padding: 0px;
    margin: 0px;
    font-family: 'Lora', serif;
}


img.logo
{
	width: 100px;
	height: 100px;
	algin: center;
}

.pa
{
	align: center;
}
.search-bar
{
	align: center;
}

.footer-content
{
    
	
}

.footer
{
    background: #303036;
    color: #d3d3d3;
    height: 400px;
    position: relative;	
}

.footer.footer-content
{
    border: 1px solid red;
    height: 350px;
    display: flex;
}

.footer .footer-content .footer-section
{
    flex: 1;
    border: 1px solid white;
}

.footer .footer-bottom
{
    background: #343a40;
    color: #686868;
    height: 50px;
    width: 100%;
    text-algin: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 20px;
    
}
