@charset "UTF-8";
/* CSS Document */


img.logo
{
	width: 100px;
	height: 100px;
	algin: center;
}

.pa
{
	align: center;
}
.search-bar
{
	align: center;
}

.footer-content
{
	
}

.footer
{
	
	
}



.footer .footer-bottom
{
	
	
	
}
